In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [6]:
#Changing Categorical value of Gender to numerical value- male as 0 and female as 1
dataset['Gender'].replace('Male',0,inplace=True)
dataset['Gender'].replace('Female',1,inplace=True)

In [8]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [9]:
X = dataset[['Gender','Age','EstimatedSalary']]
y = dataset['Purchased']

In [10]:
X.head()

   Gender  Age  EstimatedSalary
0       0   19            19000
1       0   35            20000
2       1   26            43000
3       1   27            57000
4       0   19            76000

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [12]:
#KNeighbours Classifier model
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [13]:
from sklearn import metrics

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=5)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [19]:
y_pred = knnclassifier.predict(X_test)

In [20]:
metrics.accuracy_score(y_test,y_pred)

0.78

In [24]:
#KNeighbours Classifier model
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=7)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(X_train,y_train)
y_pred = knnclassifier.predict(X_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [25]:
X_train

     Gender  Age  EstimatedSalary
382       1   44           139000
84        1   30            62000
115       0   40            57000
328       0   36           118000
99        1   28            37000
..      ...  ...              ...
211       0   52           150000
67        1   23            82000
25        0   47            20000
196       1   30            79000
175       1   23            28000

[300 rows x 3 columns]

In [22]:
#KNeighbours Classifier model
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(X_train,y_train)
y_pred = knnclassifier.predict(X_test)
metrics.accuracy_score(y_test,y_pred)

0.74

In [23]:
X_train

     Gender  Age  EstimatedSalary
82        0   20            49000
367       0   46            88000
179       1   31            34000
27        1   47            30000
89        0   35            50000
..      ...  ...              ...
255       1   52            90000
72        1   20            23000
396       0   51            23000
235       0   46            79000
37        0   30            49000

[300 rows x 3 columns]

In [29]:
#Checking cross validation for KNeighbors
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knnclassifier,X,y,cv=10,scoring='accuracy').mean()*100) #Model evaluation

78.93574108818011

In [33]:
#Checking cross validation for LogisticRegression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='lbfgs')
print(cross_val_score(logreg,X,y,cv=10,scoring='accuracy').mean()*100)

64.25515947467169